* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.nombre-input {
    font-size: 30px; /* Tamaño de fuente */
    padding: 8px; /* Espaciado interno */
    width: 300px; /* Ancho del campo de entrada */
}
body{
  
    
       
}
<style>
* {
  text-align: center;
}

h1 {
  color:  black;
  text-align: center;
  font-size: 80px;
}
.mensaje-bienvenida {
    font-size: 24px; 
}
button {
  display: inline-block;
  padding: 8px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: ;
  background-color:#9A2EFE ;
  border: none;
  border-radius: 12px;
  box-shadow: 0 9px ;
}
button:hover {background-color: #F4FA58}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px ;
  transform: translateY(4px);
}
img {
    width: 700px; 
    height: auto; 
}
.question {
    font-size: 25px; /*tamaño de letrade las preguntas*/
}
.question-container {
    width: 35%; 
    margin: 0 auto;
    border: 2px solid black; /* ancho de borde  */
    padding: 20px; /* Espaciado interior  */
    margin-bottom: 10px; /* Margen inferior  entre cada contenedor de pregunta */
    background-color:  #E0B0FF; /* Color de fondo */
}





