* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.nombre-input {
    font-size: 30px; /* Tamaño de fuente */
    padding: 8px; /* Espaciado interno */
    width: 300px; /* Ancho del campo de entrada */
}

header{
    background-color:#4B088A; 
    color:black ; 
    text-align: center;
    font-size: 25px;
    padding: 10px; 
    border-radius: ; 
    box-shadow: 3px 3px 5px #2a2929; 
    
}
body{
  background:linear-gradient(#58FAF4,#0040FF,#2EFEF7);
}

<style>
* {
  text-align: center;
}

h1 {
  color: white ;
  text-align: center;
  font-size: 80px;
}
.mensaje-bienvenida {
    font-size: 24px; 
}
button {
   display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: ;
  background-color: #00FF00;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px black;
}

button:hover {background-color:#FFFF00 }

button:active {
  background-color:#088A08 ;
  box-shadow: 0 5px black;
  transform: translateY(7px);
}

img{
    width: 700px; 
    height: auto; 
}
.question {
    font-size: 25px; /*tamaño de letrade las preguntas*/
}
.question-container {
    width: 35%; 
    margin: 0 auto;
    border: 2px solid black; /* ancho de borde  */
    padding: 20px; /* Espaciado interior  */
    margin-bottom: 10px; /* Margen inferior  entre cada contenedor de pregunta */
    background-color:  #E0B0FF; /* Color de fondo */
}






